@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #EEE3CB;
}

* {
    font-family: HakgyoansimWoojuR;
}

#diaryTitle {
    font-size: 70px;
    text-align: center;
    margin: 2%;
}

#diaryMain {
    text-align: center;
}

#inputDiary {
    background-color: #D7C0AE;
    font-size: 40px;
    border: 0;
    border-radius: 30px;
    width: 65%;
    height: 350px;
    padding: 2%;
    margin: 3%;
}

#analyzeButton {
    color: white;
    background-color: #B7C4CF;
    font-size: 50px;
    border: 0;
    border-radius: 30px;
    width: 15%;
    height: 100px;
    padding: 8px;
    cursor: pointer;
    margin-right: 30px;
}

#diarySaveButton {
    color: white;
    background-color: #B7C4CF;
    font-size: 50px;
    border: 0;
    border-radius: 30px;
    width: 15%;
    height: 100px;
    padding: 8px;
    cursor: pointer;
}

#result {
    font-size: 35px;
    color: #c97b7b;
}

#firstImg {
    position: relative;
    height: 80vh;
    background-color: #EEE3CB;
}

#firstImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

#firstImgTitle {
    bottom: 25px;
    left: 25px;
    position: absolute;
    font-size: 4em;
    color: #D7C0AE;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: #967E76;
}

#firstButton {
    text-align: center;
}

.mainBtn {
    text-align: center;
    color: #967E76;
    background-color: #D7C0AE;
    font-size: 47px;
    border: 0;
    border-radius: 30px;
    width: 25%;
    height: 80px;
    cursor: pointer;
    margin: 2%;
}

#backButton {
    border: 0;
    background-color: transparent;
}

#analyzeBody {
    text-align: center;
    font-size: 35px;
    padding: 3%;
}

#saveButton {
    color: white;
    background-color: #B7C4CF;
    font-size: 35px;
    border: 0;
    border-radius: 20px;
    width: 30%;
    height: 60px;
    padding: 8px;
    margin-top: 20px;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .mainBtn {
        font-size: 4vw;
        width: 30%;
        height: 70px;
    }

    #firstImgTitle {
        bottom: 25px;
        left: 25px;
        position: absolute;
        font-size: 5vw;
        color: #D7C0AE;
        white-space: nowrap;
    }



}



@media (max-width: 650px) {
    #analyzeTitle {
        font-size: 4vw;
        margin-top: 5px;
    }

    #emotionImage {
        width: 13%;
    }

    #resultContainer {
        font-size: 4vw;
        margin-top: 5px;
    }

    #saveButton {
        font-size: 5vw;
        width: 30%;
        height: 40px;
        padding: 5px;
        margin-top: 20px;
    }
}

@media (max-width: 1500px) {
    #diaryTitle {
        font-size: 5vw;
        margin-top: 5px;
    }

    #inputDiary {
        font-size: 3vw;
        margin-top: 5px;
    }

    #analyzeButton {
        font-size: 3vw;
        width: 15%;
        height: 60px;
        padding: 5px;
        margin-top: 5px;
    }

    #diarySaveButton {
        font-size: 3vw;
        width: 15%;
        height: 60px;
        padding: 5px;
        margin-top: 5px;
    }

}


/* capsule */
.capsule {
    display: flex;
    justify-content: center;
    align-items: center;
}

.capsule-table {
    width: 80%;
    height: 80vh;
}

.centered-cell {
    text-align: center;
    vertical-align: middle;
}