@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #EEE3CB;
}

* {
    font-family: HakgyoansimWoojuR;
}

#diaryTitle {
    font-size: 70px;
    text-align: center;
    margin: 2%;
}

#diaryMain {
    text-align: center;
}

#inputDiary {
    background-color: #D7C0AE;
    font-size: 40px;
    border: 0;
    border-radius: 30px;
    width: 65%;
    height: 350px;
    padding: 2%;
    margin: 3%;
}

#analyzeButton {
    color: white;
    background-color: #B7C4CF;
    font-size: 50px;
    border: 0;
    border-radius: 30px;
    width: 15%;
    height: 100px;
    padding: 8px;
    cursor: pointer;
}

#result {
    font-size: 35px;
    color: #c97b7b;
}

#firstImg {
    position: relative;
    height: 730px;
    background-image: url('./img/first_gif.gif');
    background-size: cover;
}

#firstImgTitle {
    bottom: 0;
    position: absolute;
    font-size: 65px;
    color: #D7C0AE;
    margin: 25px;
}

a {
    text-decoration: none;
    color: #967E76;
}

#firstButton {
    text-align: center;
}

#diaryButton, #capsuleButton {
    text-align: center;
    color: #967E76;
    background-color: #D7C0AE;
    font-size: 55px;
    border: 0;
    border-radius: 30px;
    width: 30%;
    height: 90px;
    cursor: pointer;
    margin: 2%;
}

#backButton {
    border: 0;
    background-color: transparent;
}

#analyzeBody {
    text-align: center;
    font-size: 35px;
    padding: 3%;
}

#saveButton {
    color: white;
    background-color: #B7C4CF;
    font-size: 35px;
    border: 0;
    border-radius: 20px;
    width: 30%;
    height: 50px;
    padding: 8px;
    margin-top: 20px;
    cursor: pointer;
}